/* General Container */
.skills-experience-container {
  background-color: var(--background);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  justify-content: space-between; /* Align sections side by side */
  align-items: flex-start; /* Align sections from the top */
  padding: 180px 15px;
  font-size: small;
  text-align: left; /* Updated to left align text for a cleaner layout */
  font-family: Arial, Helvetica, sans-serif;
}

/* Skills and Experience Sections */
.skills-section, .experience-section {
  width: 48%; /* Both sections get equal width */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Section Titles */
.skills-title, .section-title {
  font-size: 2.5rem;  /* Adjusted size for better readability */
  margin-bottom: 20px;
  color: #992add; /* Color for both skills and experience section titles */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}

/* Skills Section */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

.skill-card {
  background-color: var(--card);
  border-radius: 10px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  padding: 10px;
  width: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.skill-info h2 {
  margin: 10px 0 0;
  font-size: 1.1rem;
  color: var(--text);
}

/* Icons Styling */
.skills-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.icon {
  font-size: 3rem; /* Adjusted icon size */
  color: #9e44e8;
}

.icon-container p {
  color: var(--text);
  font-size: 1em;
  margin-top: 10px;
}

/* Experience Section */
.experience-item {
  background-color: var(--card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.experience-item h3 {
  color: #992add;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.experience-item span {
  color: #6c757d;
  font-size: 1rem;
  margin-bottom: 10px;
  display: block;
}

.experience-item ul {
  list-style: disc;
  padding-left: 1.5em;
  color: var(--text);
  font-size: 1rem;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .skills-experience-container {
    flex-direction: column;
    align-items: center;
  }

  .skills-section, .experience-section {
    width: 100%;
    margin-bottom: 40px;
  }

  .skills-container {
    justify-content: space-around;
  }
}
