:root {
  --background: #f5ebfe;
  --background-nav: #f5ebfe;
  --text: #0d0d0d;
  --card: #ffffff; 
  --design: #3f3f3f;
}

[data-theme='dark'] {
  --background: #131313;
  --background-nav: #13131379;
  --text: #ffffff;
  --card: #2e2d2dbb; 
  --design: #b480d0;
}


.App {
  text-align: center;
  background-color: var(--background);;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}
